In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [50]:
c_f = pd.read_csv("C:\\Users\\RITVISINGH\\Desktop\\Capstone1_Car Insurance\\InsuranceData\\csv\\Car features.csv")
p_f = pd.read_csv("C:\\Users\\RITVISINGH\\Desktop\\Capstone1_Car Insurance\\InsuranceData\\csv\\Policy features.csv")
i_c = pd.read_csv("C:\\Users\\RITVISINGH\\Desktop\\Capstone1_Car Insurance\\InsuranceData\\csv\\Insurance claim.csv")

In [52]:
c_f.head()

,policy_id,make,segment,model,fuel_type,max_torque,max_power,engine_type,airbags,is_esc,...,is_rear_window_defogger,is_brake_assist,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating
0,ID00001,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,No,Yes,No,No,No,Yes,0
1,ID00002,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,No,Yes,No,No,No,Yes,0
2,ID00003,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,No,Yes,No,No,No,Yes,0
3,ID00004,1,C1,M2,Petrol,113Nm@4400rpm,88.50bhp@6000rpm,1.2 L K12N Dualjet,2.0,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2
4,ID00005,2,A,M3,Petrol,91Nm@4250rpm,67.06bhp@5500rpm,1.0 SCe,2.0,No,...,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2

In [54]:
c_f['is_esc'].replace({'No': 0, 'Yes': 1})

C:\Users\RITVISINGH\AppData\Local\Temp\ipykernel_9996\1630712302.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  c_f['is_esc'].replace({'No': 0, 'Yes': 1})

0        0.0
1        0.0
2        0.0
3        1.0
4        0.0
        ...
58510    NaN
58511    0.0
58512    0.0
58513    1.0
58514    1.0
Name: is_esc, Length: 58515, dtype: float64

In [4]:
p_f.head()

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density
0,ID00001,0.515874,0.05,0.644231,C1,4990.0
1,ID00002,0.672619,0.02,0.375000,C2,27003.0
2,ID00003,0.841110,0.02,0.384615,C3,4076.0
3,ID00004,0.900277,0.11,0.432692,C4,21622.0
4,ID00005,0.596403,0.11,0.634615,C5,34738.0

In [5]:
i_c.head()

  policy_id  is_claim
0   ID00001         0
1   ID00002         0
2   ID00003         0
3   ID00004         0
4   ID00005         0

In [6]:
merged_data = pd.merge(c_f,p_f,on='policy_id',how='inner')

In [7]:
merged_data.head()

,policy_id,make,segment,model,fuel_type,max_torque,max_power,engine_type,airbags,is_esc,...,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density
0,ID00001,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,Yes,0,0.515874,0.05,0.644231,C1,4990.0
1,ID00002,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,Yes,0,0.672619,0.02,0.375000,C2,27003.0
2,ID00003,1,A,M1,CNG,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2.0,No,...,No,No,No,Yes,0,0.841110,0.02,0.384615,C3,4076.0
3,ID00004,1,C1,M2,Petrol,113Nm@4400rpm,88.50bhp@6000rpm,1.2 L K12N Dualjet,2.0,Yes,...,Yes,Yes,Yes,Yes,2,0.900277,0.11,0.432692,C4,21622.0
4,ID00005,2,A,M3,Petrol,91Nm@4250rpm,67.06bhp@5500rpm,1.0 SCe,2.0,No,...,No,Yes,Yes,Yes,2,0.596403,0.11,0.634615,C5,34738.0

In [22]:
merged_data['engine_type'].unique()

array(['F8D Petrol Engine', '1.2 L K12N Dualjet', '1.0 SCe',
       '1.5 L U2 CRDi', '1.5 Turbocharged Revotorq', 'K Series Dual jet',
       '1.2 L K Series Engine', 'K10C', 'i-DTEC', 'G12B',
       '1.5 Turbocharged Revotron', nan], dtype=object)

In [26]:
merged_data['model'].unique()

array(['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10', 'M11'],
      dtype=object)

In [8]:
final_data = pd.merge(merged_data,i_c,on='policy_id',how='inner')
final_data = pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [ ]:
FINAL_DATA_PY = final_data.select(segment,model,fuel_type,max_torque,max_power,engine_typ,is_claim).agg(*).groupby(segment,model,fuel_type,max_torque,max_power,engine_typ)

STRUCTURE OF DATASET

1) First 5 rows

In [ ]:
final_data.head()

2) Summary Statistics

In [ ]:
round(final_data.describe(),2).T

3) Data type and Missing values

In [ ]:
final_data.info()

Missing Values

In [ ]:
print(final_data.isnull().sum())

In [ ]:
# final_data.to_csv('final_data.csv')
####################################### experimental from here

In [ ]:
import seaborn as sns
sns.distplot(final_data['population_density'])

In [ ]:
import seaborn as sns
sns.distplot(final_data['is_claim'])

In [ ]:
total = len(final_data['policy_tenure'])
missing_count = final_data['policy_tenure'].isnull().sum()
print((missing_count/total)*100)
# policy_tenure                       20
# age_of_car                           5
# age_of_policyholder                  7
# area_cluster                         6

In [ ]:
#Count of unique values
print(final_data.columns)
for i in final_data.columns:
    print(i,": ",final_data[i].nunique())

In [12]:
final_data.corr()

ValueError: could not convert string to float: 'ID00001'